@import './defaults.css';

body {
    background-image: url("../img/grid.png");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    background-color: hsl(231deg 98% 24%);
    overflow: hidden;
}

#main-container {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    width: 80vw;
    margin: 0 auto;
}

#playing-field {
    position: relative;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    opacity: 0.9;
    background-color: #010022;
    filter: drop-shadow(0px 0px 2.5px #010022);
}

#info {
    position: relative;
    width: 8vw;
    height: 100px;
    opacity: 0.8;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #010022;
    filter: drop-shadow(0px 0px 2.5px #010022);
}

.label-span {
    padding-top: 5px;
    padding-bottom: 5px;
}

label {
    color: white;
    font-family: system-ui;
}

.bold-labels {
    font-weight: bold;
}

#ball {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background-color: #00ff00;
    filter: drop-shadow(0px 0px 8px #00ff00);
}

.trail {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #00ff00;
    filter: drop-shadow(0px 0px 8px #00ff00);
}

.finish {
    position: absolute;
    z-index: 3;
    background-color: gold;
    filter: drop-shadow(0px 0px 2px white);
}


@keyframes trailRemove {
    0%   {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
}


.trailRemove {
    animation-name: trailRemove;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}