#main-menu {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/grid5.png");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    background-color: hsl(231deg 98% 24%);
    overflow: hidden;
}

#game-title {
    position: relative;
    display: block;
    font-size: 10vh;
    top: 5vh;
    text-align: center;
    color: #d0d6ff;
    font-family: 'Gloria Hallelujah', cursive;

}

#wrapper-main-menu {
    position: relative;
    top: 25vh;
    width: 50vw;
    margin: 0 auto;
}

.option-button {
    display: block;
    margin: 0 auto;
    width: 18vw;
    height: 6vh;
    min-width: 350px;
    min-height: 50px;
    font-size: 2vh;
    border: none;
    margin-bottom: 30px;
    color: white;
    background-color: #010022;
    opacity: 0.85;
}

.option-button:hover {
    cursor: pointer;
    opacity: 1;
}